nav {
  width: 200px;
  > div {
    position: relative;
    font-family: var(--curvenote-font-headers);
  }
  ul {
    font-family: var(--curvenote-font);
    margin: 0;
    padding: 0;
  }
  ul li {
    list-style-type: none;
  }
  a {
    display: block;
    padding: 5px;
    padding-left: 1em;
    color: #333;
    text-decoration: none;
    font-weight: 500;
  }
  a:hover,
  a.selected {
    color: var(--theme-primary);
    text-decoration: none;
    background-color: #f1f3f4;
    // border-radius: 0 15px 15px 0;
  }
  ul ul a {
    padding-left: 2em;
  }
  ul ul ul a {
    padding-left: 3em;
  }
  ul li.section div {
    padding-left: 1em;
    cursor: pointer;
    position: relative;
  }
  ul li.section div:hover,
  ul li.section.selected div {
    color: var(--theme-primary);
  }
  ul li.section div:after {
    content: ' ';
    position: absolute;
    right: 20px;
    width: 8px;
    height: 8px;
    transition: all 200ms;
    border-left: 0 solid transparent;
    border-top: 0 solid transparent;
    border-right: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: translate(0, 2px) rotate(45deg);
  }
  ul li.section.open div:after {
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    transform: translate(0, 7px) rotate(45deg);
  }
  ul li.section {
    padding: 0.6em 0;
    box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.1);
    transition: all 200ms;
    max-height: calc(1em + 2px);
    overflow: hidden;
  }
  ul li.section.open {
    max-height: 150vh; // This is not awesome. :( cuts things off if the screen is short.
  }
  ul li.section ul {
    padding-top: 10px;
    transition: all 200ms;
    transform: scaleY(0);
    transform-origin: top;
  }
  ul li.section.open ul {
    transform: scaleY(1);
  }
}

nav.popout {
  position: fixed;
  top: 153px;
  left: calc(50vw - 420px - 330px);
}

nav.popout > ul {
  max-height: calc(100vh - 153px - 2em);
  overflow-y: auto;
}

nav.popout.centered {
  transform: translateX(130px);
}

@media screen and (max-width: 1500px) {
  nav.popout.centered {
    transform: unset;
  }
  nav.popout {
    position: fixed;
    top: 0px;
    left: -200px;
    z-index: 10;
    transition: left 200ms;
  }
  nav.popout.open {
    left: 0px;
  }
  nav.popout > div {
    height: 1.4em;
    padding: 15px;
    margin-right: -20px;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 10px;
  }
  nav.popout > div:after {
    content: ' ';
    position: absolute;
    width: 7px;
    height: 7px;
    right: 7px;
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    transform: translate(0, 6px) rotate(45deg);
    transition: all 200ms;
  }
  nav.popout.open {
    box-shadow: 20px 0px 20px rgba(0, 0, 0, 0.1);
  }
  nav.popout.open > div:after {
    border-right: 2px solid #333;
    border-top: 2px solid #333;
    transform: translate(3px, 6px) rotate(-135deg);
  }
  nav.popout.open > div {
    border: 1px solid transparent;
  }
  nav.popout > ul {
    background-color: #fff;
    max-height: unset;
    height: calc(100vh - 1.4em - 30px);
    overflow-y: scroll;
    overscroll-behavior-y: contain;
  }
}
