@charset "UTF-8";
.ProseMirror {
  position: relative;
  word-wrap: break-word;
  white-space: pre-wrap;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;
  /* the above doesn't seem to work in Edge */
  outline: none;
  overflow: auto;
  padding: 2px;
}

.ProseMirror pre {
  white-space: pre-wrap;
}

.ProseMirror li {
  position: relative;
}

.ProseMirror-hideselection *::selection {
  background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
  background: transparent;
}

.ProseMirror-hideselection {
  caret-color: transparent;
}

.ProseMirror-focused .ProseMirror-selectednode {
  cursor: move;
}

.suggestion {
  color: blue;
}

.ProseMirror-hideselection .eqn-editor *::selection {
  background-color: transparent;
}

.ProseMirror-hideselection .eqn-editor *::-moz-selection {
  background-color: transparent;
}

.katex-display {
  margin: 0.5em;
  padding: 5px;
}

.eqn-math {
  overflow: hidden;
}

.eqn.editing .eqn-math {
  display: none;
}

.eqn .eqn-editor {
  display: none;
}

.eqn.editing .eqn-editor {
  width: 100%;
  display: inline-block;
}

.eqn.inline.editing .eqn-editor {
  display: inline;
}

.eqn-editor.ProseMirror {
  cursor: auto;
  font-family: monospace;
  color: purple;
}

.eqn-editor::before,
.eqn-editor::after {
  content: "$$";
  color: #aaa;
  display: block;
}

.eqn-editor.inline::before,
.eqn-editor.inline::after {
  content: "$";
  display: inline;
}

.eqn-editor.inline.empty::before {
  border-right: 1px #000 solid;
  animation: blink 1.2s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}
article {
  position: relative;
}
article a strong, article a {
  color: #1E88E5;
  text-decoration: none;
  font-weight: 500;
}
article a strong {
  font-weight: 700;
}
article a:hover {
  text-decoration: underline;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  font-family: var(--curvenote-font-headers, serif);
}
article h1 {
  font-size: 1.75em;
}
article h2 {
  font-size: 1.5em;
}
article h3 {
  font-size: 1.17em;
}
article h4 {
  font-size: 1.12em;
}
article h5 {
  font-size: 0.83em;
}
article h6 {
  font-size: 0.75em;
}
article p code {
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  background-color: #FAFAFA;
  padding: 0 3px;
}
article pre {
  border: 1px solid #E4E4E4;
  background-color: #FAFAFA;
  padding: 10px;
}
article dl {
  color: #4D4D4D;
  font-family: var(--curvenote-font, sans-serif);
  line-height: 1.4;
}
article dl dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}
article dl dd {
  margin-left: 180px;
}
@media screen and (max-width: 800px) {
  article dl dt {
    float: unset;
    width: unset;
    overflow: unset;
    clear: unset;
    text-align: unset;
    text-overflow: unset;
    white-space: unset;
  }
  article dl dd {
    margin-left: 15px;
  }
}
article p {
  display: block;
  text-align: justify;
  overflow-wrap: break-word;
  font-size: 17px;
  line-height: 1.8;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4D4D4D;
  font-family: var(--curvenote-font, sans-serif);
  font-weight: 300;
}
@media screen and (max-width: 800px) {
  article p {
    text-align: left;
  }
}
article ol p, article ul p {
  margin: 0;
  text-align: left;
}
article em {
  font-style: italic;
}
article strong {
  color: black;
}
article table {
  width: 100%;
  border-collapse: collapse;
}
article thead {
  font-size: 105%;
  border-bottom: 1px solid #333;
  color: black;
}
article tbody {
  border-left: 1px solid #333;
}
article td {
  padding-left: 8px;
}
article hr {
  width: 200px;
  margin: 30px 0;
  margin-left: calc(50% - 100px);
  border-top: 1px solid #B2B2B2;
  border-bottom: none;
  border-left: none;
  border-right: none;
  clear: both;
}
article img {
  max-width: 100%;
}

article aside.margin {
  position: relative;
  float: right;
  z-index: 1;
  width: 210px;
  padding-left: 20px;
  margin-top: -30px;
  margin-right: -232px;
  background-color: #FFF;
}

article aside.margin, article aside.margin p {
  font-size: 12px;
  color: #aaa;
  font-family: var(--curvenote-font, sans-serif);
  text-align: left;
}

article.centered aside.margin {
  float: right;
  width: 33%;
  margin: unset;
  margin-left: 20px;
}

article.centered aside.callout {
  clear: both;
}

@media screen and (max-width: 800px) {
  article aside.margin, article.centered aside.margin {
    float: unset;
    width: unset;
    margin: unset;
    border-left: 5px solid #eee;
  }
}
article aside.callout {
  display: block;
  padding: 5px 20px;
  margin: 20px 0;
  border: 1px solid #AAAAAA;
  border-left-width: 5px;
  border-radius: 1px;
  border-left-color: #4285F4;
}

article aside.callout p {
  margin: 0;
  text-align: left;
  display: block;
  font-size: inherit;
  color: #4D4D4D;
}

article aside.callout.active {
  border-left-color: #AAAAAA;
}

article aside.callout.success {
  border-left-color: #9EC667;
}

article aside.callout.info {
  border-left-color: #4285F4;
}

article aside.callout.warning {
  border-left-color: #F3B300;
}

article aside.callout.danger {
  border-left-color: #CA4F44;
}

r-var {
  display: block;
  color: #D46485;
  border: 1px solid #D4D4D4;
  border-radius: 2px;
  background-color: #EFEFEF;
  width: fit-content;
  padding: 5px;
  user-select: none;
}

r-dynamic {
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px dashed var(--mdc-theme-secondary, #46F);
}

r-action {
  cursor: pointer;
  color: var(--mdc-theme-secondary, #46F);
  border-bottom: 1px solid var(--mdc-theme-secondary, #46F);
}

r-action.noclick {
  cursor: unset;
  border-bottom: unset;
}

.cursor-move {
  cursor: move;
}

.cursor-col-resize {
  cursor: col-resize;
}

r-equation {
  display: block;
}

r-equation[inline=""] {
  display: inline-block;
}

article blockquote {
  padding: 10px 20px;
  margin: 20px 0;
  border-left: 5px solid var(--mdc-theme-primary, #eee);
}
article blockquote p {
  color: #646464;
  font-size: 1.5em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}
article blockquote footer {
  font-family: var(--curvenote-font, sans-serif);
  color: #a7a7a7;
  font-size: 1em;
}
article blockquote footer cite {
  text-transform: uppercase;
  color: var(--mdc-theme-primary, #eee);
  font-style: normal;
  font-weight: 700;
}
article blockquote footer time {
  font-style: italic;
  font-size: 0.9em;
}
article blockquote footer time::before {
  content: " - ";
}

article cite-group .citation::after {
  content: "; ";
}
article cite-group .citation:last-of-type::after {
  content: "";
}
article cite-group::before {
  content: "(";
}
article cite-group::after {
  content: ")";
}
article .citation > span {
  border-bottom: 1px dotted #363636;
  color: #363636;
  text-decoration: none;
  user-select: all;
}
article .citation > span:hover {
  cursor: zoom-in;
  border-bottom-color: #1584d3;
  color: #1584d3;
}

article {
  position: relative;
}

.compact p {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px;
}

article .selected .ProseMirror-selectednode {
  outline: 2px solid #8cf;
}
article .selected li.ProseMirror-selectednode {
  /* Make sure li selections wrap around markers */
  outline: none;
}
article .selected li.ProseMirror-selectednode:after {
  content: "";
  position: absolute;
  left: -32px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border: 2px solid #8cf;
  pointer-events: none;
}

/* Make sure that you can see the asides!! */
article aside.margin {
  border: 1px solid transparent;
}
article time {
  user-select: all;
}

.ProseMirror-focused aside.margin {
  background-color: #fdfdfd;
  border: 1px solid #ddd;
}
.ProseMirror-focused time,
.ProseMirror-focused r-display {
  border: 1px solid #ddd;
  border-bottom-color: #8cf;
}

.widget {
  display: inline-block;
}

.widget.widget-variable {
  display: block;
}

img.placeholder {
  margin-left: 15%;
  width: 70%;
  box-shadow: 0 0 0 0 black;
  animation: pulsePlaceholder 2s infinite;
  animation-timing-function: ease;
  display: block;
}

@keyframes pulsePlaceholder {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
article {
  counter-reset: h1_cnt eq_cnt fig_cnt;
}
article h1 {
  counter-reset: h2_cnt;
}
article h2 {
  counter-reset: h3_cnt;
}
article h3 {
  counter-reset: h4_cnt;
}
article h4 {
  counter-reset: h5_cnt;
}
article h5 {
  counter-reset: h6_cnt;
}

h1[numbered]:before {
  content: counter(h1_cnt) ".  ";
  counter-increment: h1_cnt;
}

h2[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) ".  ";
  counter-increment: h2_cnt;
}

h3[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) ".  ";
  counter-increment: h3_cnt;
}

h4[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "." counter(h4_cnt) ".  ";
  counter-increment: h4_cnt;
}

h5[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "." counter(h4_cnt) "." counter(h5_cnt) ".  ";
  counter-increment: h5_cnt;
}

h6[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "." counter(h4_cnt) "." counter(h5_cnt) "." counter(h6_cnt) ".  ";
  counter-increment: h6_cnt;
}

.eqn.display[numbered] {
  counter-increment: eq_cnt;
  padding-right: 30px;
  position: relative;
}

.eqn.display[numbered]:before {
  content: "(" counter(eq_cnt) ")";
  position: absolute;
  top: calc(50% - 0.6em);
  right: 5px;
}

.hidden {
  display: none;
}

.above-modals {
  z-index: 1301;
}

@media print {
  .noprint {
    display: none !important;
  }
}

/*# sourceMappingURL=editor.css.map */
