article {
  margin: auto;
  max-width: 800px;
  padding: 0 10px;
  position: relative;
  --sidenoteAnchorColor: #F8E4B1;
  --sidenoteAnchorColorHover: #F7CF69B6;
  --sidenoteAnchorColorSelected: #F5C955;
}

.red { color: red; }
.green { color: green; }
.greenBase {
  padding: 10px;
  border: 3px solid green;
}
.blue { color: blue; }
