@keyframes blink {
  49% {
    border-color: unset;
  }
  50% {
    border-color: #fff;
  }
  99% {
    border-color: #fff;
  }
}
.no-cursor {
  caret-color: transparent;
}
div:focus .fake-cursor,
span:focus .fake-cursor {
  margin-right: -1px;
  border-left-width: 1px;
  border-left-style: solid;
  animation: blink 1s;
  animation-iteration-count: infinite;
  position: relative;
  z-index: 1;
}
