// style.scss

@use 'prosemirror';
@use 'autocomplete';
@use 'equationTooltip';
@use 'article/index.scss';
@use 'selected';
@use 'prompt';
@use 'widget';
@use 'imgPlaceholder';
@use 'numbered';
@use 'tables';
@use 'code';
@use 'footnote';
@use 'figure';
@use 'codemark';
@use 'mention';

.hidden {
  display: none;
}
// This allows it to be overtop of the asides and modals
.above-modals {
  z-index: 1301 !important;
}

@media print {
  .noprint {
    display: none !important;
  }
}

.block-node-view {
  padding: 12px 16px;
  margin: 8px 0px;
  border-radius: 4px;
  border: 1px solid black;
  position: relative;
  .block-controls{
      display: none;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      position: absolute;
      top: 0px;
      left: -15px;
      cursor: all-scroll;
      background-color: gray;
      color: white;

  }
  &:hover {
    .block-controls {
      display: flex;
    }
  }

  .selected-block-control {
    background-color: black;
    display: flex;
  }
}


