.ProseMirror-selectednode > div {
  outline: 2px solid #8cf;
}

.chip-container { 
  display: inline-block;
  padding: 4px;
}

.ProseMirror {
  p {
    /* display: flex; */
    align-items: center;
    flex-wrap: wrap;
  }
}

