.CodeMirror-scroll {
  height: auto;
}

.CodeMirror {
  height: auto;
  margin: 16px 0;
  border: 1px solid #eee;
  text-align: left;
}

article {
  code {
    color: rgb(232, 62, 140);
    border-radius: 2px;
    padding: 2px;
    margin: 0 1px;
    background-color: #fafafa;
    border: 1px solid rgba(192, 192, 192, 0.5);
  }
}
