.ProseMirror-hideselection .eqn-editor *::selection { background-color: transparent; }
.ProseMirror-hideselection .eqn-editor *::-moz-selection { background-color: transparent; }

.eqn.editing .eqn-math {
  display: none;
}
.eqn .eqn-editor {
  display: none;
}
.eqn.editing .eqn-editor {
  display: block;
}
.eqn.inline, .eqn.editing .eqn-editor.inline {
  display: inline-block;
}
.eqn-editor .ProseMirror {
  cursor: auto;
  font-family: monospace;
  color: purple;
}
.eqn-editor.inline .ProseMirror {
  display: inline;
}
.eqn-editor::before, .eqn-editor::after {
  content: "$$";
  color: #aaa;
  cursor: move;
}
.eqn-editor.inline::before, .eqn-editor.inline::after  {
  content: "$";
}
