.ProseMirror-hideselection .eqn-editor *::selection { background-color: transparent; }
.ProseMirror-hideselection .eqn-editor *::-moz-selection { background-color: transparent; }
.katex-display {
  margin: 0.5em;
  padding: 5px;
}

.eqn-math { overflow: hidden; }
.eqn.editing .eqn-math { display: none; }
.eqn.display .eqn-math { position: relative; }
.eqn .eqn-editor { display: none; }
.eqn.editing .eqn-editor {
  width: 100%;
  display: inline-block;
}
.eqn.inline.editing .eqn-editor { display: inline; }

.eqn-editor.ProseMirror {
  cursor: auto;
  font-family: monospace;
  color: purple;
}
.eqn-editor::before, .eqn-editor::after {
  content: "$$";
  color: #aaa;
  display: block;
}
.eqn-editor.inline::before, .eqn-editor.inline::after  {
  content: "$";
  display: inline;
}
// There is no span width, so the cursor gets lost :(
.eqn-editor.inline.empty::before {
  border-right: 1px #000 solid;
  animation: blink 1.2s;
  animation-iteration-count: infinite;
}
@keyframes blink { 50% { border-color:#fff ; }  }
