// https://github.com/ProseMirror/prosemirror-tables/blob/master/style/tables.css
.ProseMirror {
  figure {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }
  figcaption {
    display: block;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 5px;
    color: #686868;
    font-family: var(--curvenote-font, sans-serif);
    font-weight: 300;
  }
  figcaption::before {
    padding-left: -5px;
    font-weight: 700;
  }
  figcaption[numbered=''][kind='fig']::before {
    counter-increment: fig_cnt;
    content: 'Figure ' counter(fig_cnt) ':\0000a0\0000a0';
  }
  figcaption[numbered=''][kind='code']::before {
    counter-increment: code_cnt;
    content: 'Code ' counter(code_cnt) ':\0000a0\0000a0';
  }
  figcaption[numbered=''][kind='table']::before {
    counter-increment: table_cnt;
    content: 'Table ' counter(table_cnt) ':\0000a0\0000a0';
  }
}
