// https://github.com/ProseMirror/prosemirror-tables/blob/master/style/tables.css
.ProseMirror {
  figcaption {
    display: block;
    overflow-wrap: break-word;
    font-size: 12px;
    line-height: 1.3;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #686868;
    font-family: var(--curvenote-font, sans-serif);
    font-weight: 300;
  }
}
