article {
  counter-reset: footnote;
}
span.footnote {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
span.footnote::after {
  content: counter(footnote);
  vertical-align: super;
  font-size: 75%;
  counter-increment: footnote;
}
span.footnote > .tooltip {
  display: none;
}
span.footnote:hover > .tooltip {
  display: block;
}
span.footnote.open > .tooltip {
  display: block;
}
span.footnote .tooltip {
  cursor: auto;
  position: absolute;
  left: -30px;
  top: calc(100% + 10px);
  background: silver;
  padding: 3px;
  border-radius: 2px;
  width: 500px;
  z-index: 1;
}
