img.placeholder {
  margin-left: 15%;
  width: 70%; // DEFAULT_IMAGE_WIDTH
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulsePlaceholder 2s infinite;
  animation-timing-function: ease;
  display: block;
}
.image-upload-prompt {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: rgb(230, 230, 230);

  button {
    cursor: pointer;
    padding: 8px 16px;
    border: none;
    color: white;
    background-color: #265f9e;
    transition: background-color 0.2s ease-in-out;
  }

  button:hover {
    background-color: #084d9b;
  }

  .upload {
  }

  .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    // background: url(/images/close.svg) no-repeat center;
    background-size: cover;
  }
}

@keyframes pulsePlaceholder {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
