img.placeholder {
  margin-left: 15%;
  width: 70%; // DEFAULT_IMAGE_WIDTH
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulsePlaceholder 2s infinite;
  animation-timing-function: ease;
  display: block;
}

.image-upload-prompt {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: white;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;

  .close-icon {
    cursor: pointer;
    border: none;

    position: absolute;
    top: 2px;
    right: 2px;
    width: 18px;
    height: 18px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat center;
    background-size: cover;
  }

  .upload-container {
    text-align: center;
  }

  input[type='file'] {
    display: none;
  }

  label {
    cursor: pointer;
    font-weight: bold;
    color: #1d5f9e;
  }

  .description {
    font-size: small;
  }
}
.is-dragover {
  background-color: rgb(205, 205, 205);
}

@keyframes pulsePlaceholder {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
