article {
  counter-reset: h1_cnt eq_cnt;
  h1 { counter-reset: h2_cnt; }
  h2 { counter-reset: h3_cnt; }
  h3 { counter-reset: h4_cnt; }
  h4 { counter-reset: h5_cnt; }
  h5 { counter-reset: h6_cnt; }
}
h1[numbered]:before {
  content: counter(h1_cnt) ".\0000a0\0000a0";
  counter-increment: h1_cnt;
}
h2[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) ".\0000a0\0000a0";
  counter-increment: h2_cnt;
}
h3[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) ".\0000a0\0000a0";
  counter-increment: h3_cnt;
}
h4[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "." counter(h4_cnt) ".\0000a0\0000a0";
  counter-increment: h4_cnt;
}
h5[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "." counter(h4_cnt) "." counter(h5_cnt) ".\0000a0\0000a0";
  counter-increment: h5_cnt;
}
h6[numbered]:before {
  content: counter(h1_cnt) "." counter(h2_cnt) "." counter(h3_cnt) "." counter(h4_cnt) "." counter(h5_cnt) "." counter(h6_cnt) ".\0000a0\0000a0";
  counter-increment: h6_cnt;
}


.eqn.display[numbered] .eqn-math:before {
    counter-increment: eq_cnt;
}
.eqn.display[numbered] .eqn-math:before {
    content: "(" counter(eq_cnt) ")";
    position: absolute;
    top: calc(50% - 0.6em);
    right: 0;
}
