// Other ideas:
// "Type ':' for emotion",
// "Type '$$' to create an equation",
// "Type '> ' to create a quote",
// "Type '* ' for a list",
// "Type '1. ' for a numbered list",
// "Type '{{ 1 + 1 }}' to display 2",
// "Type '# ' for a header",
// "Type '### ' for a smaller header",
// "Type '`code`' to insert code",
// "Type '```' to create a code block",
// "Type '---' to create a divider",

p.prompt {
  position: relative;
}
p.prompt:before {
  content: "Type '/' for commands, or just start writing!";
  color: #929292;
  position: absolute;
  user-select: none;
  cursor: text;
  left: 5px;
}
