
article.selected {
  .ProseMirror-selectednode {
    outline: 2px solid #8cf;
  }
  /* Make sure li selections wrap around markers */
  li.ProseMirror-selectednode {
    outline: none;
  }
  li.ProseMirror-selectednode:after {
    content: '';
    position: absolute;
    left: -32px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border: 2px solid #8cf;
    pointer-events: none;
  }
}

/* Make sure that you can see the asides!! */
article {
  aside.margin {
    border: 1px solid transparent;
  }
}
.ProseMirror-focused {
  aside.margin {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
  }
  r-display {
    border: 1px solid #ddd;
    border-bottom-color: #8cf;
  }
}
