
article {
  .selected {
    .ProseMirror-selectednode {
      outline: 2px solid #8cf;
    }
    li.ProseMirror-selectednode {
      /* Make sure li selections wrap around markers */
      outline: none;
    }
    li.ProseMirror-selectednode:after {
      content: '';
      position: absolute;
      left: -32px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      border: 2px solid #8cf;
      pointer-events: none;
    }
  }
}

/* Make sure that you can see the asides!! */
article {
  aside.margin {
    border: 1px solid transparent;
  }
  time {
    user-select: all;
  }
}
.ProseMirror-focused {
  aside.margin {
    background-color: #fdfdfd;
    border: 1px solid #ddd;
  }
  time, r-display {
    border: 1px solid #ddd;
    border-bottom-color: #8cf;
  }
}
