// https://github.com/ProseMirror/prosemirror-tables/blob/master/style/tables.css
.ProseMirror {
  .tableWrapper {
    overflow-x: auto;
    margin: 1em 0;
  }
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
  td,
  th {
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    min-width: 1em;
    border: 1px solid #ddd;
    padding: 3px 5px;
  }
  th {
    text-align: left;
    background-color: rgba(232, 232, 232, 0.4);
    p {
      font-weight: bold;
    }
  }
  .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
  }
  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }
  /* Give selected cells a blue overlay */
  .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
  }
}
