// style.scss
@use 'prosemirror';
@use 'suggestion';
@use 'equationTooltip';
@use 'article/index.scss';
@use 'selected';
@use 'prompt';
@use 'widget';
@use 'imgPlaceholder';
@use 'numbered';
@use 'tables';
@use 'codeblock';
@use 'footnote';

.hidden {
  display: none;
}
// This allows it to be overtop of the asides and modals
.above-modals {
  z-index: 1301 !important;
}

@media print {
  .noprint {
    display: none !important;
  }
}
