name: CI

on:
  push:
    branches: [main, ci-*]
  pull_request:
    branches: [main]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('package-lock.json') }}
      - run: npm install
  test:
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('package-lock.json') }}
      - run: npm install
      - run: npm run lint:format
      - run: npm run lint
      - run: npm run build
      - run: npm run test:ci
  cypress:
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-${{ hashFiles('package-lock.json') }}
      - run: npm install
      - run: npm run build:cypress
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          cache-key: ${{ runner.os }}-${{ hashFiles('package-lock.json') }}
          project: ./packages/editor
          component: true
          browser: chrome
          quiet: true
          record: false
